html, body {
	height:100%;
	font-size: 12px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #000;
}

.navbar {
	height: 25px;
	background-color: #000;
	color: #fff;
	padding: 15px;
	border-bottom: 2px solid #aaa;
}

#container {
	width: 100%;
	padding: 0px;
	border: 0px;
	height:100%;
}

#menu {
	width: 190px;
	background-color: #eee;
	padding: 10px;
	float: left;
	height:100%;
	min-height: 400px;
}

#menu > a:link {
	text-decoration: none;
	color: #000;
}

#menu > a:hover {
	color: red;
	cursor: pointer;
}

#content {
	width: 80%;
	padding: 10px;
	float: left;
	height:100%;
}

