<div class="dashMetric">
	<h1>
	Pending Manifests: 
	</h1>
	<h2>
	0
	{{dashInfo.manifests.count}}
	</h2>
</div>
<div class="dashMetric">
	<h1>
	Executing Manifests: 
	</h1>
	<h2>
	1
	{{dashInfo.workers.count}}
	</h2>
</div>
<div class="dashMetric">
	<h1>
	Complete Manifests: 
	</h1>
	<h2>
	1
	{{dashInfo.workers.count}}
	</h2>
</div>
