[class*='col-'] {
  float: left;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-3-4 {
  width: 25%;
}

.col-1-4 {
  width: 25%;
}

.col-7-8 {
  width: 87.5%;
}

.col-1-8 {
  width: 12.5%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* pad */
[class*='col-'], [class*='col-']:after, [class*='col-']:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}