html, body {
	height:100%;
	font-size: 12px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #000;
	background-color: #ddd;
}

.navbar {
	height: 25px;
	background-color: #000;
	color: #fff;
	padding: 15px;
	border-bottom: 2px solid #aaa;
}

.navbar-inner {
	font-size: 16px;
}

#container {
	width: 100%;
	padding: 0px;
	border: 0px;
	height:100%;
}

#menu {
	background-color: #ccc;
	padding: 10px;
	height:100%;
	min-height: 400px;
}

#menu > ul {
	list-style-type: none;
	padding: 5px;
	padding-left: -20px;
	margin: 0px;
}

#menu > a, a:link, a:visited {
	text-decoration: none;
	color: #000;
}

#menu > a:hover {
	color: red;
	cursor: pointer;
}

#content {
	padding: 10px;
	height:100%;
}

.dashMetric {
	color: #000;
	width: 180px;
	height: 60px;
	padding: 10px;
	margin: 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background-color:#fff;
	-webkit-box-shadow: #B3B3B3 4px 4px 4px;
	-moz-box-shadow: #B3B3B3 4px 4px 4px; 
	box-shadow: #B3B3B3 4px 4px 4px;
}

.dashMetric > h1 {
	font-size: 12px;
	font-family: 'Roboto Condensed', sans-serif;
}

.dashMetric > h2 {
	font-size: 24px;
	color: green;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: -5px;
	margin-bottom: 5px;
	text-align: left;
}